name: NET Nuget CI

on:
  push:    
  pull_request:
    branches: [ master, develop ]

jobs:
  Init:
    runs-on: ubuntu-latest
    name: Init Variables
    steps:
      - name: Variables
        env:
            GITHUB_CONTEXT: ${{ toJson(github) }}
            ENV_CONTEXT: ${{ toJson(env) }}
            JOB_CONTEXT: ${{ toJson(job) }}
            STEPS_CONTEXT: ${{ toJson(steps) }}
            RUNNER_CONTEXT: ${{ toJson(runner) }}
            SECRETS_CONTEXT: ${{ toJson(secrets) }}
            STRATEGY_CONTEXT: ${{ toJson(strategy) }}
            MATRIX_CONTEXT: ${{ toJson(matrix) }}
            NEEDSCONTEXT: ${{ toJson(needs) }}
        run: |
          echo "GITHUB_CONTEXT: $GITHUB_CONTEXT"
          echo "ENV_CONTEXT: $ENV_CONTEXT"
          echo "JOB_CONTEXT: $JOB_CONTEXT"
          echo "STEPS_CONTEXT: $STEPS_CONTEXT"
          echo "RUNNER_CONTEXT: $RUNNER_CONTEXT"
          echo "SECRETS_CONTEXT: $SECRETS_CONTEXT"
          echo "STRATEGY_CONTEXT: $STRATEGY_CONTEXT"
          echo "MATRIX_CONTEXT: $MATRIX_CONTEXT"
          echo "NEEDSCONTEXT: $NEEDSCONTEXT"
  
  Build_and_Upload_Artefact_To_Nuget:
    needs: Init
    runs-on: ubuntu-latest
    name: Build And Upload Artefact To Nuget NET
    env:
        APP_NAME: DummyCoreNet        
    steps:
      - name: Git Checkout Repository
        uses: actions/checkout@v2

      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:            
            source-url: https://nuget.pkg.github.com/luismartinezpage/index.json
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.UPLOAD_PACKAGE_TOKEN }}
      
      - name: Build application
        run: dotnet build ${{ env.APP_NAME }} --configuration Release        
      
      - if: github.event_name  == 'pull_request' && ( github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/master' )
        name: Create the package
        run: dotnet pack --configuration Release ${{ env.APP_NAME }}

      - if: github.event_name  == 'pull_request' && ( github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/master' )      
        name: Publish the package
        run: |
          dotnet nuget push ${{ env.APP_NAME }}/bin/Release/*.nupkg
          echo "NEEDSCONTEXT: ${{ toJson(needs) }}"
        